/* Header.css */

.main-header {
  background: #000;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-inner {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start; 
  align-items: start; 
}

.logo img {
  width: 150px;
  height: auto;
  display: block;       
  object-fit: contain;  
}


.desktop-nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex: 1;
}

.desktop-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.desktop-nav a:hover,
.desktop-nav .active {
  color: #0ef;
}

.hire-button-wrapper {
  flex-shrink: 0;
}

.hire-button {
  background: #0ef;
  color: #000;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s;
}

.hire-button:hover {
  transform: scale(1.05);
}

.menu-icon {
  font-size: 2rem;
  color: #0ef;
  cursor: pointer;
  display: none;
}

/* Flyout menu */
.flyout-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 260px;
  height: 100vh;
  background-color: #1F242D;
  color: #0ef;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  transition: left 0.3s ease-in-out;
  z-index: 2000;
}

.flyout-menu.open {
  left: 0;
}

.flyout-menu a {
  color: #0ef;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.flyout-menu .close-icon {
  align-self: flex-end;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 30px;
}

/* Responsive behavior */
@media (max-width: 1024px) {
  .desktop-nav,
  .hire-button-wrapper {
    display: none;
  }

  .menu-icon {
    display: block;
  }

}


@media (max-width: 768px) {
  .flyout-menu a {
    font-size: 1rem;
  }
  .logo img {
  width: 110px;
  height: auto;
  display: block;       
  object-fit: contain;  
}
}

@media (max-width: 480px) {
  .flyout-menu a {
    font-size: 0.9rem;
  }
}
